In [1]:
from os import walk
import re
from os.path import join, split
import numpy as np
import pandas as pd

In [2]:
load_path = 'results/'

In [3]:
files = []
for (dirpath, _, filenames) in walk(load_path):
    files += [join(dirpath, file) for file in filenames]
    break

In [8]:
arr = []
for file in files:
    arr.append(np.load(file))

df = pd.DataFrame(arr, columns = ['lstm_size', 'epochs', 'batch_size', 'window', 'smape_cases', 'smape_deaths'])
df.tail()

      lstm_size  epochs  batch_size  window  smape_cases  smape_deaths
2179      130.0    15.0        32.0    14.0    39.331152      9.049362
2180       85.0    45.0        16.0    14.0     3.012030     32.120568
2181       55.0    50.0        16.0    14.0     9.598770     10.770614
2182       70.0    40.0        32.0     7.0     2.812374     20.317408
2183       60.0    35.0        16.0    14.0     7.814233     29.518992

In [17]:
df1 = df.sort_values(by = ['smape_cases', 'smape_deaths'])
df1.iloc[:50, :].value_counts().idxmax()

(50.0, 60.0, 8.0, 7.0, 0.719041158393443, 16.51478946512229)

In [18]:
df2 = df.sort_values(by = ['smape_deaths', 'smape_cases'])
df2.iloc[:50, :].value_counts().idxmax()

(50.0, 25.0, 64.0, 14.0, 71.18445130502694, 2.2419770231030034)